<ion-view title="Add Dress" id="page2" style="background-color:#C4C4FF;">
  <ion-content padding="true" class="has-header">
    <form id="addDress-form4" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="addDress-input8">
        <span class="input-label">Dress Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="addDress-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Home Dress</option>
          <option>Party Dress</option>
          <option>Official Dress</option>
        </select>
      </label>
    </form>
    <button id="addDress-button6" class="button button-positive  button-block">Tap me!</button>
  </ion-content>
</ion-view>